
/* 

Be careful! For the scripts on this site to work correctly, some classes in the HTML need to be named in a specific way:
✦ theme-dark — class for the dark theme
✦ theme-light — class for the light theme
✦ like-icon — for the animated heart SVG icon
✦ card__like-button — for the Like button next to the icon
✦ card__icon-button — for the button wrapping the icon
✦ is-liked — to indicate the state of the liked heart icon
✦ button__text — for the text element inside the button

Additionally, do not change the HTML of the theme switcher. Its markup also ensures the proper functioning of its script.
*/ 

 @keyframes arrow-switch {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-4px);
    }
 }

 .like-icon .core {
    fill: var(--background-color);
    transition: fill 0.3s linear 0.03s;
 }

 .like-icon:hover .core {
    fill: var(--main-color);
    transition: fill 0.3s linear;
 }

 .like-icon:hover .main-body {
    fill: var(--main-color);
    transition: fill 0.3s linear 0.05s;
 }

 .like-icon .main-body {
    fill: var(--background-color);
    transition: fill 0.3s linear;
 }

 .like-icon:active .core {
    fill: var(--sparcle-heart);
    transition: fill 0.3s linear;
 }

 .like-icon:active .main-body {
    fill: var(--sparcle-heart);
    transition: fill 0.3s linear 0.05s;
 }

/* active like klick */
 .like-icon.is-liked .core {
    fill: var(--sparcle-heart);
    transition: fill 0.3s linear;
 }

 .like-icon.is-liked .main-body {
    fill: var(--sparcle-heart);
    transition: fill 0.3s linear 0.05s;
 }

 .like-icon.is-liked .contour {
    fill: var(--sparcle-heart);
    transition: fill 0.3s linear 0.06s;
 }

 .like-icon.is-liked .heart {
    animation: scale-heart 0.3s 1 ease-in alternate 0.1s;
    transform-origin: center;
 }

 .like-icon.is-liked .sparks {
    animation: scale-sparks 0.3s 1 ease-in alternate 0.3s;
 }

 .like-icon .contour {
    fill: var(--main-color);
    transition: fill 0.1s linear;
 }

 @keyframes scale-heart {
    from {
        scale: 1;
    }

    50% {
        scale: 1.5;
    }

    to {
       scale: 1;
    }
 }

 @keyframes scale-sparks {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
 }





 

