/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --background-color: #FFFFFF;
    --background-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --main-font: 'Inter-Variable';
    --accent-font: 'PressStart2P';
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --main-color: #000000;
    --content-size: clamp(320px, 100%, 700px);
    --content-border-color: #000000; 
    --content-border-size: 2px;
    --logo-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
    --main-title-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
    --card-content-font-size: 1.125rem;
    --accent-font-size: 0.875rem;
    --low-transition: 0.3s ease;
    --text-button-color: #FFFF;
    --sparcle-heart: #FF0000;
}

@media (width <= 375px) {
    .page {
      max-inline-size: 100%;
    }
  
    .text-section {
      min-height: 329px;
    }
  
    .icon-floppy {
      width: 28px;
      height: 28px;
    }
  
    .save-button {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }