/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --background-color: #FFFFFF;
    --background-gradient: 
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
    --main-font: 'Inter', Helvetica, Arial, sans-serif;
    --accent-font: 'PressStart2P', 'Fantasy';
    --main-font-weight: 400;
    --accent-font-weight: 700;
    --main-color: #000000;
    --content-size: clamp(320px, 100%, 700px);
    --content-border-color: #000000; 
    --content-border-size: 2px;
    --logo-size: clamp(3.063rem, 2.7109rem + 1.5023vw, 4.063rem);
    --main-title-size: clamp(0.875rem, 0.6768rem + 0.8458vw, 1.438rem);
    --card-content-font-size: 1.125rem;
    --accent-font-size: 0.875rem;
    --text-button-color: #FFFF;
    --sparcle-heart: #FF0000;
}

